body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}
.content{
    width: 300px;
    margin-top: 10%;
    margin: auto;
    padding: 0 15px;

}

.selection{
    display: flex;
}
.selection a{
    text-decoration: none;
    color: #000;
    font-family: monospace;
    font-size: 16px;
}
.select#room-id{
    width: 50%;
    height: 40px;
}
.info{
    margin-top: 50px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
}
form {
    margin-top: 50px;
    text-align: center;

}
form input{
    margin-top: 20px;
    padding: 5px 10px;
}