{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Chat | Home Page</title>
</head>
<body>
    <div class="content">
        <div class="zoom">
            <img src="{% static 'images/zoom.png'%}" alt="Image Not Found">
        </div>
        <div class="selection">
            <div class="select" id="room-id">
                <a href="?q=room_id">I need a room ID</a>
            </div>
            <div class="select" id="room-id">
                <span>:
                    {% if room_id %}
                        {{ room_id }}
                    {% else %}
                        ROOM_ID HERE
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="select">
            <a href="?q=has_room">I have already a room ID</a>
        </div>
        {% if has_room_id %}
            <div class="select">
                <form id="form">
                    {% csrf_token %}
                    <input type="text" name="room_id" placeholder="Enter Room Id"><br>
                    <input type="text" name="name" placeholder="Enter your username"> <br>
                    <input type="submit" value="Join">
                </form>
            </div>          
        {% endif %}
        <div class="info">
            <p>In Production the room Id will sent to the patient and doctors through their email.</p>
            <p>If you are new comer press <b>I need a room Id</b> it will generate room id for you</p>
            <p><em>Note: </em>I focused mainly on the backend development.</p>
        </div>
    </div>
</body>
<script>
    let form = document.getElementById('form')
    let handleSubmit = async (e) => {
        e.preventDefault()

        let room = e.target.room_id.value
        let name = e.target.name.value
        
        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        sessionStorage.setItem('name', name)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('uid', data.uid)
        sessionStorage.setItem('token', data.token)

        window.open('/room/', '_self')
    }
    form.addEventListener('submit', handleSubmit)
</script>
</html>